.popup__input { 
  border: none;
  border-bottom: 1px solid;
  }
  
  @media screen and (max-width: 767px) {
    .popup__input {
  
      font-weight: 400;
      font-size: 14px;
      line-height: 1.21;
    }
  }