.header {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 37px;
  max-width: 880px;
  min-height: 74px;
  border-bottom: 1px solid rgb(84, 84, 84);
}

@media screen and (max-width: 767px) {
  .header {
    padding-bottom: 28px;
    padding-bottom: 8px;
  }
}