.popup__title_type_enlarge {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  max-width: 75vw;
  position: absolute;
  top: 732px;
  right: 758px;
}