.profile__information {
  margin-right: auto;
  max-width: 45%;
}


@media screen and (max-width: 767px) {
  .profile__information {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 29px 7px 4px 42px;

    max-width: 100%;
  }
}