.elements__like-button_disabled {
  margin: 27px 20px 0 0;
  padding: 0;
  background: rgb(255, 255, 255);
  border: none;
  background-image: url(../../../../images/likenotactive.png);
  background-repeat: no-repeat;
  min-height: 19px;
  min-width: 22px; 
}



.elements__like-button_disabled:hover {
  opacity: 0.8;
  transition: opacity linear;
  cursor: pointer;
}